#root{
    display: flex;
    padding: 3rem 0 0 0;
    justify-content: center;
}
h1{
    padding: 0;
    margin: 0;
}
.main-container{

  flex-basis: 70%;
  
  border: 1vh solid hsl(188.16,67.32%,70%);
  background-color: hsl(187.5,54.55%,91.37%);
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 4rem 0 2rem 0;

}

.CounterTitle{
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.CounterTitle div{
   background-color:hsl(188.2,77.78%,40.59%);
   padding: 0.5rem 2rem 0.5rem 2rem;
   border-radius:2rem;
}
.CounterTitle span{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.CounterTitle div span{
    color: white;
    font-weight: bold;
}
.refresh-component{
    display: flex;
    
    column-gap: 1rem;
}
.refresh{
    padding: 1rem;
    background-color: hsl(133.7,61.35%,40.59%);
    border-radius: 0.5rem;
}
.refresh:hover{
    background-color: hsl(134, 58%, 31%);
}
.recycle{
    padding: 1rem;
    background-color: hsl(188.2,77.78%,40.59%);
    border-radius: 0.5rem;
}
.recycle-active{
    background-color: hsl(188, 84%, 30%);
}


.item-component{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    text-align: center;
   
}
button{
    border: none;

    width: 3.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-count{
    background-color: hsl(45,100%,51.37%);
    width: 100px;
    height: 50px;
    border-radius: 0.5rem;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-active{
    background-color: hsl(211.06,100%,50%);
    color: white;
    
}
.increment{
    
    background-color: hsl(208.24,7.3%,45.69%);
   
}
.increment:hover{
   
    background-color: hsl(210, 6%, 33%);
   
}
.increment-active{
    border: 5px solid rgb(185, 182, 182);
}
.decrement{
    background-color: hsl(187.96,53.05%,58.24%);
 
}
.decrement:hover{
    background-color:hsl(211, 72%, 50%);
}
.decrement-active{
   background-color:hsl(211, 87%, 57%);
}
.delete{
    background-color: rgb(176, 2, 2);
   
}
.delete:hover{
    background-color: rgb(250, 1, 1);
}


